/* CSS Document */
/*container*/

.img{width:400px;height:300px;position: relative;}
.container{width:1080px;height:900px;margin:20px auto 0;}
.container-t{width:1080px;height:300px;margin-top:0px;}
.container-t-l{width:400px;height:300px;float:left;position: relative;}

.container-t-l div{width:400px;height:300px;position:absolute;top:0px;background:rgba(0,0,0,0.8);text-align:center;line-height:300px;font-size:30px;color:white;display:none;}
.container-t-l:hover div{display:block;}
.container-t-l div a{text-decoration: none;color:#FFF;font-family:楷体;}
.container-t-m{width:280px;height:300px;float:left;text-align:center;}
.container-t-m a{text-decoration: none;font-size:30px;color: #333;}
.container-t-m a:hover{}
.container-t-r{width:400px;height:300px;float:left;position: relative;}
.container-t-r div{width:400px;height:300px;position:absolute;top:0px;background:rgba(0,0,0,0.8);text-align:center;line-height:300px;font-size:30px;color:white;display:none;}
.container-t-r:hover div{display:block;}
.container-t-r div a{text-decoration: none;color:#FFF;font-family:楷体;}

.container-m{width:1080px;height:300px;text-align:center;}
.container-m-l{width:340px;height:300px;float:left;}
.container-m-l a{text-decoration: none;font-size:30px;color: #333;}
.container-m-m{width:400px;height:300px;float:left;position: relative;}
.container-m-m div{width:400px;height:300px;position:absolute;top:0px;background:rgba(0,0,0,0.8);text-align:center;line-height:300px;font-size:30px;color:white;display:none;}
.container-m-m:hover div{display:block;}
.container-m-m div a{text-decoration: none;color:#FFF;font-family:楷体;}

.container-m-r{width:340px;height:300px;float:left;}
.container-m-r a{text-decoration: none;font-size:30px;color: #333;}
.container-b{width:1080px;height:300px;}
.container-b-l{width:400px;height:300px;float:left;position: relative;}
.container-b-l div{width:400px;height:300px;position:absolute;top:0px;background:rgba(0,0,0,0.8);text-align:center;line-height:300px;font-size:30px;color:white;display:none;}
.container-b-l:hover div{display:block;}
.container-b-l div a{text-decoration: none;color:#FFF;font-family:楷体;}

.container-b-m{width:280px;height:300px;float:left;}
.container-b-m li{list-style-type: none;list-style-image: url(../img/rose.png);font-size:20px;line-height:60px;margin-top: 0px;font-family: "楷体";}
.container-b-r{width:400px;height:300px;float:left;position: relative;}
.container-b-r div{width:400px;height:300px;position:absolute;top:0px;background:rgba(0,0,0,0.8);text-align:center;line-height:300px;font-size:30px;color:white;display:none;}
.container-b-r:hover div{display:block;}
.container-b-r div a{text-decoration: none;color:#FFF;font-family:楷体;}

