
/* CSS Document */
/*header*/
.header{margin:0 auto 0;width:990px;height:130px;}
.header-top-left{width:100px;height:100px;}
.header-top-right{width:890px;height:100px;float:left;}
.header-bottom{	width:990px;height:30px;background-color:#000;}
.header-bottom p{float:left;font-size:18px;line-height:30px;}
.header-bottom p a{text-align:center;width:247px;float:left;text-decoration:none;}	

/*container*/
.container{margin:10 auto 0;width:990px;height:650px;}
.container-top{width:990px;height:500px;}
.container-top-left{margin:0 100 0 20;width:500px;height:500px;float:left;	}
.container-top-right{margin:100 70 0 0;height:300px;width:300px;float:right;}
.container-bottom{margin:20 auto 10;width:990px;height:150px;float:left;text-align:center;}
.container-bottom1{width:135px;height:150px; float:left;margin-right:7px;margin-top:20px;}
.container-bottom2{width:135px;height:150px; float:left;margin-right:7px;margin-top:20px;}
.container-bottom3{width:135px;height:150px; float:left;margin-right:7px;margin-top:20px;}
.container-bottom4{width:135px;height:150px; float:left;margin-right:7px;margin-top:20px;}
.container-bottom5{width:135px;height:150px; float:left;margin-right:7px;margin-top:20px;}
.container-bottom6{width:135px;height:150px; float:left;margin-right:7px;margin-top:20px;}
.container-bottom7{width:135px;height:150px; float:left;margin-top:20px;}
.container-bottom a{text-decoration:none;}



