/* CSS Document */
	.catalog {
	width:100%; 	
	height:30px;
	background-color:#000;
	}
	.catalog li{
	float:left;
	font-size:18px;
	}
	.catalog li a{
	width:140px;
	height:30px;
	text-decoration:none;	
	}